p.
  ES6 už jste si mohli vyzkoušet v předchozích cvičeních. Pro následující cvičení vám necháme větší volnost při výběru tématu.
br
| Využijeme
a(href="http://es6katas.org/")  es6katas.org

h4.bigger-distance Určitě si vyzkoušejte alespoň některá cvičení na iterátory a generátory:

h3 Generátory a iterátory
ul
  li
    a(href="http://tddbin.com/#?kata=es6/language/iterator/array",target="blank") iterator/array
  li
    a(href="http://tddbin.com/#?kata=es6/language/iterator/protocol",target="blank") iterator/protocol
  li
    a(href="http://tddbin.com/#?kata=es6/language/generator/creation",target="blank") generator/creation
  li
    a(href="http://tddbin.com/#?kata=es6/language/generator/iterator",target="blank") generator/iterator
  li
    a(href="http://tddbin.com/#?kata=es6/language/generator/yield",target="blank") generator/yield

h4.bigger-distance.
  Potom si vyberte některé další téma, které vás zaujalo, nebo jsme mu v předchozích cvičeních nevěnovali tolik času.
  Např některé z těchto:

h3 Arrow functions
ul
  li
    a(href="http://tddbin.com/#?kata=es6/language/arrow-functions/basics",target="blank") arrow-functions/basics

h3 Set a Map
ul
  li
    a(href="http://tddbin.com/#?kata=es6/language/set/basics",target="blank") set/basics
  li
    a(href="http://tddbin.com/#?kata=es6/language/map/basics",target="blank") map/basics

h3 Destrukce
ul
  li
    a(href="http://tddbin.com/#?kata=es6/language/destructuring/array",target="blank") destructuring/array
  li
    a(href="http://tddbin.com/#?kata=es6/language/destructuring/object",target="blank") destructuring/object


h4.bigger-distance Případně libovolná další cvičení z
  a(href="http://es6katas.org/")  es6katas.org

