h2 Vítejte na školení Javascriptu

ul
  li Názvy cvičení korespondují s názvy složek na filesystému, kde budete upravovat zdrojový kód
  li Z návodu se můžete prokliknout přímo na jednotlivá cvičení.
  li Názvy a čísla nadpisů v návodech korespondují s TODO ve zdrojových kódech

h4 Nápovědy
ul
  li V návodu narazíte často na modré nápovědy, nebojte se je využít.

hint Nápovědy se nebojte využívat pokud si nejste jisti.

h4 Řešení k jednotlivým úkolům
ul
  li Pokud si i přesto nebudete vědět rady, jsou v návodech také řešení. Ty si nechte ale až jako poslední možnost.

solution.
  K zobrazení řešení sahejte až když se přestanete cítit ve cvičení komfortně.

h4 Celková řešení
ul
  li Cvičení jsou tu pro Vás, pokud se jimi zabývat nebudete chtít podívejte se alespoň na hotové řešení ve složce complete.

h3 Abyste si odnesli co nejvíce ...

.alert.alert-success Nebojte se nás během cvičení kdykoli zavolat, pokud budete chtít poradit, nebo si nebudete čímkoli jisti. Jsme tu pro Vás