p.
  V tomto cvičení se podíváme na zpracování asynchronních událostí a také na způsob jak se dají testovat.

h4 Karma runner
p.
  Aby jste výsledky testů viděli pohodlně přímo v zadání, spusťte ještě karma runner:

ul
  li.task V jedné konzoli nechejte běžet #[strong npm start] - webserver s cvičeními
  li.task V druhé spusťte příkaz:

snippet.
  npm run tests-this

h3 Časovač

p.
  Vašim úkolem bude dokončit a otestovat implementaci časovače, který bude možné používat následujícím způsobem

snippet
  :highlight-js
    const countdown = new Countdown(10);  // vytvoření instance odpočtu, bude odpočítávat od 10

    // odpočet spustíme voláním start, jako parametry můžeme předat callbacky
    //   updateTime - je volán každou vteřinu s aktuální hodnotou časovače
    //   finalCallback - je volán po dokončení odpočtu s hodnotou od které se odpočítávalo

    countdown.start(updateTime, finalCallback);

    coundown.stop();  // odpočítávání můžeme kdykoli ukončit

ul
  li Prohlédněte si kód objektu #[strong Countdown] v #[em index.js]. Jedná se o objekt provádějící odpočet.
  li Testy najdete v souboru #[em tests.js].
  li Protože se jedná o testy, které čekají na vyhodnocení, jsou potlačeny pomocí volání funkce #[strong pending()].
  li Volání #[strong pending()] odstraňte až když se dostanete k práci na příslušném testu.

h3 1 - Implementace odpočtu.
ul
  li Prohlédněte si metodu #[strong doTick] v #[em index.js], provádí postupný odpočet, volá #[strong updateCallback] a po dokončení #[strong finalCallback]
  li Tyto funkce se zadávají jako parametry metody #[strong start]
  li V první fázi napíšeme test pro volání funkce #[strong updateCallback], a poté funkcionalitu implementujeme

h4 1.1 - Test pro odpočet

p.
  V prvním kroku dokončíme předpřipravený asynchronní test.

ul.task
  li Doplňte ověření snížení předané hodnoty ve funkci #[strong updateCallback] - hodnota by měla být o 1 nižší než původní hodnota časovače.
  li.
    Nezapomeňte, že pokud testujeme asynchronní operace, musíme to dát jasmine najevo a také říct kdy operace skončila.
    Když to neuděláme, uvidíme varování, že test přošel bez expectations.

hint  Do testu musíte přidat callback #[strong done] jako parametr a ten po vyhodnocení asynchronní operace také zavolat.

ul
  li Tím získáme padající test, pokud se podíváte na detail testu, uvidíte chybu #[strong Timeout - Async callback was not invoked]

solution
  :highlight-js
    it('update volá po vteřině (TODO 1.1)', function(done) {
      var countdown = new Countdown(1);

      var updateCallback = function (value) {
        expect(value).toBe(0);
        done();
      };

      countdown.start(updateCallback);
    });

tests(todo="1.1")

ul
  li Nyní můžeme přejít k implementaci

h4 1.2 - Implementace odpočtu

p.
  Test nám nyní říká, že callback pro dokončení nebyl volán, důvodem je, že metoda #[strong doTick] není vůbec volána.

ul.task
  li V metodě start v index.js je nutno nastavit interval opakovaného volání metody #[strong doTick] po jedné vteřině.
  li Uložte si identifikátor intervalu do atributu #[strong intervalID] pro další pracování
    ul
      li interval vytvoříte pomocí funkce #[strong setInterval]
      li nezapomeňte, že předávaný callback je volán asynchronně

hint Signatura nastavení intervalu je #[strong setInterval(callback, delay-v-ms)].
  br
  | Nezapomeňte, že callback se volá asynchronně. Použijte arrow function, nebo #[strong bind] kvůli zachování kontextu volání.
solution
  :highlight-js
    this.intervalID = setInterval(this.doTick.bind(this), 1000);

    // nebo

    this.intervalID = setInterval(() => this.doTick(), 1000);

tests(todo="1.2")

h4 1.3 - finalCallback a zrychlení testů
p.
  Nyní se zase vrátíme k testům - chceme zkontrolovat volání funkce #[strong finalCallback] po dokončení odpočtu

ul.task
  li Odstraňte pending() v příslušném testu a prohledněte si co dělá

ul
  li Test sice prochází ale je neúnosně pomalý, což naznačuje i ikonka u výsledků testů. Test totiž čeká na dokončení časování.
  li Jasmine umí čekání urychlit pomocí mokování timeout funkcí.

ul.task
  li Před každým testem instalujte a po každém testu odinstalujte modul #[strong clock]
  li Do tohoto testu umístěte poskočení kroku o 4000 ms - za konec odpočtu.
  li Posunout musíte čas i v předchozím testu - poskočením o 1001 ms.

hint.
    Kód který chceme spouštět před a po každém testu píšeme do beforeEach a afterEach funkcí.
    Pro instalaci se používá #[strong jasmine.clock().install()].
    Pro posunutí času. #[strong jasmine.clock().tick(delay);].

solution
  :highlight-js
    beforeEach(function() {
      jasmine.clock().install();
    });

    afterEach(function() {
      jasmine.clock().uninstall();
    });

  hr
  | #[strong Posunutí času]
  hr
  :highlight-js
    jasmine.clock().tick(4000);

tests(todo="1.3")

h4 1.4 - finalCallback nemá být volán po zastavení odpočtu metodou stop
ul
  li.task Odstraňte z testu pending()

ul
  li Test by měl ověřit, že callback nebyl volán.
  li Momentálně zdánlivě prochází, ale nereaguje na situaci, kdy byl callback #[strong finalCallback] volán po zastavení.
  li Než přistoupíme k implementaci, potřebujeme padající test

ul
  li.task V předaném final callbacku tedy vyvolejte selhání testu.

hint Callback #[strong done] má na sobě metodu #[strong fail] ta může přijíma chybovou zprávu

solution
  :highlight-js
    countdown.start(null, function() {
      done.fail("final callback byl zavolán i když byl odpočet zastaven");
    });

ul
  li Tím jsme získali padající test, a můžeme se pustit do implementace metody stop

tests(todo="1.5")

h4 1.5 - Zastavte časovač
ul
  li Test nám nyní hlásí, že byl final zavolán i po konci časování.
  li.task Podívejte se do metody #[strong stop] a zjistíte, že se zde nic neděje.
  li.task Ukončete tedy interval spouštějící metodu #[strong doTick] podle uloženého id
  li.task Vynulujte atributy #[strong intervalID], #[strong updateCallback]

hint Pro ukončení intervalu použijte #[strong clearInterval(id-intervalu)]

solution
  :highlight-js
    stop() {
      clearInterval(this.intervalID);

      this.intervalID = null;
      this.updateCallback = null;
    }

tests(todo="1.5")

h3 2 - Vyzkoušejte časovač v UI
ul
  li Když prochází testy, můžeme vyzkoušet časovač na UI v #[em index.html]
  li Je zde připravená instance časovače i funkce pro vykreslení #[strong updateTime]
  li.task Zavolejte tedy metodu #[strong start] s touto funkcí.
  li.task Otevřete cvičení v GUI, časovač se Vám zobrazí nad testy.

solution
  :highlight-js
    countdown.start(updateTime);
