p.clearfix.
  Cílem tohoto cvičení je seznámit se se základními konstrukty jazyka.
p.
  Jednotlivé úkoly jsou popsány ve scriptu #[em index.js], kde se také rovnou zpracovávají.
  K úkolům jsou napsané asserty, které se vyhodnocují v konzoli prohlížeče.

p.
  Otevřete tedy tlačítkem vpravo cvičení, zobrazte konzoli prohlížeče a pusťte se do toho.


