p.
  V tomto cvičení si můžete vyzkoušet TDD v javascriptu na vyšší úrovni.

ul
  li Místo assertů jsme pro Vás připravili testy v Jasmine.
  li Jednotlivé úkoly budete zpracovávat v #[em index.js] přímo uvnitř testů, abyste si na ně zvykli.
  li Testy se spouští přímo v prohlížeči, otevřete je opět zeleným tlačítkem.

h4 Karma runner
p.
  Aby jste výsledky testů viděli pohodlně přímo v zadání, spusťte ještě karma runner:

ul
  li.task V jedné konzoli nechejte běžet #[strong npm start] - webserver s cvičeními
  li.task V druhé spusťte příkaz:

snippet.
  npm run tests-objects

ul.task
  li Váš kód piště přímo v těle testů v místě odpovídajícího komentáře #[strong TODO]
  li Nemodifikujte však kód pod oblastí vyznačenou #[strong "Nemodifikujte kód níže"] ani asserty testů

h3 1 - Objekt
h4 1.1 - Vytvořte objekt s vlastnostmi
ul
  li.task Vytvořte objekt, který bude mít vlastnost #[strong property] a #[strong property-with-dash]

solution
  :highlight-js
    let object = {
      property: 42,
      'property-with-dash': 50,
    };

tests(todo="1.1")

h4 1.2 - Přiřaďte do objektu zanořený objekt
ul
  li.task Vytvořte objekt, který má vlastnost #[strong property] a přiřaďte jej do vlastnosti #[strong inner] již existujícího objektu

solution
  :highlight-js
    object.inner = {
      property: 42
    }

tests(todo="1.2")

h3 2 - Array
h4 2.1 - Vytvořte pole se třemi prvky
ul
  li.task Inicializujte pole s prvky hodnot 1, 2, 3

solution
  :highlight-js
    let array = [1, 2, 3];

tests(todo="2.1")

h4 2.2 - Přiřaďte velikost pole
ul
  li.task Přiřaďte hodnotu velikosti pole #[strong array] do proměnné #[strong numberOfItems]

solution
  :highlight-js
    let numberOfItems = array.length;

tests(todo="2.2")

h3 3 - Regulární výraz
h4 3 - otestujte email pomocí regulárního výrazu emailPattern
ul
  li Máte definován výraz pro kontrolu emailu, vyhodnoťte zda email vyhovuje
  li.task hodnotu přiřaďte do "testResult"

hint Pro otestování výrazu se používá metoda #[strong test].

solution
  :highlight-js
    let testResult = emailPattern.test(email);

tests(todo="3")

h3 4 - Destrukce
h4 4.1 - převeďte přiřazení na destrukci objektu

ul.task
  li získejte #[strong taskTitle] pomocí destrukce objektu
  li získejte rovnou také severitu a přiřaďte do #[strong taskSeverity]

hint Pokud získanou vlastnost přiřazujete do proměnné jiného jména, jméno určíte pomocí plného zápisu
  snippet
    :highlight-js
      const {objectProperty: variableName} = object;

solution
  :highlight-js
    const {title, severity: taskSeverity} = task;

tests(todo="4.1")

h4 4.2 - převeďte na destrukci získejte první a druhý prvek
ul.task
  li získejte první prvek pomocí destrukce
  li druhý prvek přiřaďte do #[strong y]

solution
  :highlight-js
    const [,x,y] = imageInfo;

tests(todo="4.2")

hint Při destrukci pole postupujete obdobně jako u objektu, nevyžadované prvky vynecháváte.


h3 5 - Kalkulačka

p V této části budeme implementovat operace jednoduché kalkulačky a potom factory pro získávání těchto akcí
  ul
    li Operace implementujte také rovnou v testu, v místě vyznačeném "#[strong Zde implementujte operace kalkulačky]"

h4 5.1. Implementujte operaci power
ul.task
  li Vytvořte funkci se dvěma parametry #[strong power(a,n)] počítající n tou mocninu.
  li Použijte existující funkci #[strong Math.pow(a,n)]

solution
  :highlight-js
    function power(a, n) {
      return Math.pow(a, n);
    }

tests(todo="5.1")

h4 5.2. Přidejte defaultní parametr
ul
  li.task Upravte funkci #[strong power] tak, aby při použití s jedním parametrem vracela jeho druhou mocninu

solution
  :highlight-js
    function power(a, n = 2) {
      return Math.pow(a, n);
    }

tests(todo="5.2")

h4 5.3. Vytvořte factory pro získání operace
ul.task
  li Vytvořte funkci #[strong operationFactory(operationName)], která bude vracet výpočetní operace dle zadaného parametru
  li přesuňte dovnitř funkci #[strong power] a vraťte ji pomocí return, pokud je zadaný parametr stejného jména
    ul
      li pro výběr operace k vrácení zatím použijte switch

solution
  :highlight-js
    function operationFactory(operationName){
      function power(a, n = 2) {
        return Math.pow(a, n);
      }

      switch (operationName) {
        case "power": return power;
      }
    }

tests(todo="5.3")

h4 5.4. Vytvořte ve factory operaci sum pro součet dvou čísel
ul.task
  li přidejte do factory operaci #[strong sum], která sečte dva parametry.
  li factory rozšiřte tak aby vracela operaci pro klíč #[strong sum]

solution
  :highlight-js
    function operationFactory(operationName){
      function power(a, n = 2) {
        return Math.pow(a, n);
      }

      function sum(a, b) {
        return a + b;
      }

      switch (operationName) {
        case "power": return power;
        case "sum" : return sum;
      }
    }

tests(todo="5.4")

h4 5.5. Upravte operaci sum pro více argumentů

ul.task
  li Rozšiřte operaci #[strong sum] tak, aby dokázala sčítat jakýkoli počet argumentů
    ul
      li použijte operátor rest a iteraci

hint operátor #[strong rest] převádějící výčet parametrů na pole.
  snippet
    :highlight-js
      function(...params) { ... }

solution
  :highlight-js
    function sum(...operands) {

      let sum = 0;
      for (let i = 0; i < operands.length; i++) {
        sum+= operands[i];
      }

      return sum;
    }

tests(todo="5.5")

h3 5.6 Vytvořte funkci calculate pro aplikaci operace

p. Nyní použijeme vytvořenou factory pro získání operace a vytvoříme zapouzdřující funkci #[strong calculate]

ul.task
  li vytvořte funkci #[strong calculate]
    ul
      li první parametr bude #[strong operationName]
      li všechny další parametry budou brány jako operandy
        hing Použijte operátor rest
      li bude možné volat ji následovně
        snippet
          :highlight-js
            calculate('sum', 1, 2, 3, 4, 5)

  li uvnitř funkce získejte pomocí #[strong operationFactory] operaci a zavolejte ji s předanými operandy
    hint Pro volání operace se všemi operandy použijte operátor spread
      snippet func(...array)

solution
  :highlight-js
    function calculate(operationName, ...operands) {
      const operation = operationFactory(operationName);
      return operation(...operands);
    }

tests(todo="5.6")

h3 5.7 Přepište získání operace na použití Map

p.
  Doposud jsou operace v #[strong operationFactory] natvrdo ve switchi, získání zobecníme.

ul.task
  li přepište switch v #[strong operationFactory] na použití #[strong Map]

solution
  :highlight-js
    const operations = new Map();
    operations.set('power', power);
    operations.set('sum', sum);

    return operations.get(operationName);



tests-results
